<div class="container-fluid p-5 bg-dark text-white">
    <div class="row justify-content-center">
        <div class="first col-md-3">
            <ul class="list-unstyled">
                <h4>Location</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d67082.82227058816!2d85.63128209094643!3d27.914044943279933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ea55104e03022f%3A0x4cac8f169a6d4e9c!2sSuper%20Coffee!5e0!3m2!1sen!2snp!4v1631203938744!5m2!1sen!2snp" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </ul>
        </div>

        <div class="second col-md-3">
            <ul class="list-unstyled">
                <li>Home</li>
                <li>Coffee</li>
                <li>Coffee</li>
                <li>Coffee</li>
                <li>Coffee</li>
            </ul>
        </div>

        <div class="third col-md-3">
            <ul class="list-unstyled">
                <li>Home</li>
                <li>Coffee</li>
                <li>Coffee</li>
                <li>Coffee</li>
                <li>Coffee</li>
            </ul>
        </div>
    </div>
</div>