{% extends 'layout.html' %}
{% block title %}
<title> Cart </title>
{% endblock%}

{% block main_content %}
<div class="container mb-5">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">My Cart</h1>
            {% include 'messages.html' %}
            <div class="card py-2 px-2 pb-5">
                <table class="table-striped">
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Date Added</th>
                        <th>Actions</th>
                    </tr>
                    {% for i in items %}
                    <tr>
                        <td> {{ i.product.product_name }}</td>
                        <td> {{ i.product.product_price }}</td>
                        <td> {{ i.created_date }}</td>
                        <td><a class="btn btn-primary btn-sm" href="/products/remove_cart_item/{{i.id}}">Remove</a> &nbsp;
                            <a class="btn btn-danger btn-sm"
                               href="/products/order_form/{{i.product.id}}/{{i.id}}"
                               onclick="return confirm('Are you sure want to order this product?')" >Order</a></td>

                    </tr>
                    {% endfor %}

                </table>
            </div>
    </div>
</div>

{% endblock %}