
  <!-- Footer -->
  <footer class="bg-dark mt-5">
    <div class="container py-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d897.0586886483637!2d85.6330392!3d27.8983019!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ea55104e03022f%3A0x4cac8f169a6d4e9c!2sSuper%20Coffee!5e1!3m2!1sen!2snp!4v1632934788756!5m2!1sen!2snp" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase text-light font-weight-bold mb-4">About Us</h6>
          <p class="font-italic text-light" align = 'justify'>Super Coffee was brought up to introduce the people about the coffee all
            around the glove. We bring out as many variety as possible so that the customers will be entertained with
            the products that we provide.</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase  text-light font-weight-bold mb-4">Shop</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/products/homepage" class="text-light">Home</a></li>
            <li class="mb-2"><a href="/products/get_product_user" class="text-light">Product</a></li>


          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase text-light font-weight-bold mb-4">Links</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/products/mycart" class="text-light">Cart</a></li>
            <li class="mb-2"><a href="/products/my_order" class="text-light">My Orders</a></li>
            <li class="mb-2"><a href="/profile" class="text-light">My Account</a></li>

          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase text-light font-weight-bold mb-4">Contact Us</h6>
          <p class="text-light mb-4" align = 'justify'>Email : info@supercoffee.com <br>Contact number : 9810345454</p>

        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-dark py-4 ">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2021 SuperCoffee All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- End -->
