
  <!-- Footer -->
  <footer class="bg-dark mt-5">
    <div class="container py-5">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          <h6 class="text-uppercase text-light font-weight-bold mb-4">About Us</h6>
          <p class="font-italic text-light" align = 'justify'>Super Coffee was brought up to introduce the people about the coffee all
            around the glove. We bring out as many variety as possible so that the customers will be entertained with
            the products that we provide.</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase  text-light font-weight-bold mb-4">Shop</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/products/homepage" class="text-muted">Home</a></li>
            <li class="mb-2"><a href="/products/get_product_user" class="text-muted">Product</a></li>


          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase text-light font-weight-bold mb-4">Links</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="/products/mycart" class="text-muted">Cart</a></li>
            <li class="mb-2"><a href="/products/my_order" class="text-muted">My Orders</a></li>
            <li class="mb-2"><a href="/profile" class="text-muted">My Account</a></li>

          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase text-light font-weight-bold mb-4">Newsletter</h6>
          <p class="text-muted mb-4" align = 'justify'>Super Coffee strives to provide customers the best coffee shopping experience in Nepal.
            The online store is updated daily and new products are added every day to cater to all your needs.</p>

        </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-dark py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2021 SuperCoffee All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- End -->
